<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.eman.cv_builder">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"

        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity" android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".Education" android:label="@string/Third_name"></activity>
        <activity android:name=".Personal_Information" android:label="@string/Second_name" ></activity>
        <activity android:name=".Skills" android:label="@string/Forth_name"></activity>
        <activity android:name=".Final_Result" android:label="@string/result"></activity>


    </application>

</manifest>